[Desktop Entry]
Name=pasCube
Comment=A simple opengl spinning cube in pascal
Exec=pascube
Icon=pascube
StartupWMClass=pascube
Terminal=false
Type=Application
Categories=Game;
Keywords=pascube;cube;test;opengl;
